name: publish

on: 
  push:
    branches: [main]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

      - run: ko build . --bare
        env:
          GOFLAGS: -ldflags=-X=main.Version=${{ github.sha }}
          KO_DOCKER_REPO: ghcr.io/skiff-bros-and-co/gridunlock-signaling
