name: publish

on: 
  push:
    branches: [main]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

      - run: ko build . --bare
        env:
          GOFLAGS: -ldflags=-X=main.Version=${{ github.sha }}
          KO_DOCKER_REPO: ghcr.io/skiff-bros-and-co/gridunlock-signaling
